body {
	font-family: 'Open Sans', sans-serif;
	background: #333333;		
	color: #CCCCCC;
	padding: 0;
	margin: 0;
	width: 100%;
}
sup { font-size: 60%; }
a,
a:link,
a:visited
{
	color: #CCCC66;
	text-decoration:none;
	outline: none;
}
a:hover {
	color: #FFFF99;
	text-decoration:underline;
	outline: none;
}
a:active {
	color: #FFFF99;
	text-decoration:none;
	outline: none;
}
.top {
	position: relative;
	width: 100%;
}
.banner {
	color: #CC9933;
	font-size: 30pt;
	font-weight: bold;
	margin-left: 20px;
	padding-top: 20px;
}
.bannercaption {
	font-weight: bold;
	background: #333;
	margin: 4px 0 15px 20px;
}
.viewer {
	display: flex;
	margin-left: 20px;
}
.menu {
	background: #444444;
	display: block;
	padding: 10px 20px;
	min-height: 500px;
	margin-right: 20px;
}
.menu .option {
	font-size: 10pt;
	cursor: pointer;
	padding-bottom: 2pt;
	color: #CCCC66;
}
.menu .selected {
	color: #FFFF99;
}
.menu .selected:before {
	content: "▶";
	margin-left: -12pt;
	margin-right: 2pt;
	width: 10pt;
	display: inline-block;
}
.menu .option:hover {
	text-decoration: underline;
}
.select2-container--default {
	font-size: 10pt;
}
.hidden {
	display: none;
}
.view {
	padding: 10px 10px 0 0;
	width: auto;
}
.view .control {
	display: block;
	margin-bottom: 10px;
	font-size: 10pt;
}
.view .control .reload {
	font-size: 12pt;
	margin-left: 5px;
	color: #CCCC66;
	display: inline-block;
}
.view .control .reload:hover {
	cursor: pointer;
	color: #FFFF99;
}
.view .control .permalink {
	font-size: 8pt;
	margin-left: 10px;
	float: right;
}
.view .vega {
	min-width: 100px;
	min-height: 100px;
	width: auto;
}
.stage {
	display: hidden;
}
.view .sources {
	font-size: 9pt;
	padding-top: 10px;
}
.view .sources p, .view .sources ul {
	margin: 0;
}
.description {
	font-size: 10pt;
	max-width: 40em;
	font-weight: normal;
	margin: 0 20px;
}
.description h2 {
	font-size: inherit;
	color: #CCCC66;
}
.footer {
	margin-top: 10px;
	margin-left: 20px;
	font-size: 9pt;
}
.copyright {
	font-size: 0.7em;
	color: rgb(133, 133, 133);
}
button.menu-icon {
	display: none;
}
.menuhide {
	display: block !important;
}
@media only screen and (max-width: 960px) {
	.viewer {
		display: block;
	}
	.menu {
		display: none;
		position: absolute;
		top: 4em;
		right: 1.2em;
		border: 1px solid #222;
		width: auto;
		z-index: 10;
		margin-right: 0;
		min-height: auto;
	}
	button.menu-icon {
		background-color: #212121;
		display: block;
		position: absolute;
		top: 2em;
		right: 2em;
		padding: 1px;
		border: 1px solid #CCCC66;
	}
	button.menu-icon .bar {
		display: block;
		background-color: #CCCC66;
		width: 2em;
		height: 4px;
		border: 2px solid #212121;
		border-radius: 2px;
	}
	.vega-embed.has-actions {
		padding-right:34px !important;
	}
}