<!DOCTYPE html>
<html>
  <head>
    <title>COVID-19</title>
    <meta name="description" content="About COVID-19 Plots" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
    <link rel="shortcut icon" href="assets/favicon.png" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <div class="banner">COVID-19</div>
    <div class="bannercaption">A collection of plots</div>

    <div class="description">

        <h2>About this site</h2>

        <p>
            This site collects a series of scripts I created to study the spread
            of COVID-19 that I have been sharing with friends and family. Rather
            than remake plots daily by hand, I figured it was time to build a simple
            web site to host them.
        </p>

        <h2>Implementation</h2>

        <p>
            The code for this site is released under a MIT license. You can
            find it on <a href="https://github.com/dwilliams-github/covidweb">github</a>.
        </p>

        <h2>Terms of use</h2>

        <p>
            The contents of this web site are offered for informational purposes only, 
            and the author is not responsible or liable for the accuracy, 
            usefulness or availability of any information contained therein, 
            nor responsible or liable for any error or omission.
        </p>
            
        <p>
            Any links to third party pages are provided for convenience 
            and do not constitute any guarantee or warranty, implied 
            or otherwise.
        </p>
            
        <p>
            No personal data is collected or stored by this web site,
            with the exception of conventional server log data which may
            contain an IP address or device identifier, request date and
            time, pages requested, and user agent.
        </p>
    </div>
    
    <div class="footer">
      <div class="copyright">© Copyright 2021 David C. Williams</div>
    </div>
  </body>
</html>